@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

body {
    background-color: #343a40; /* Color de fondo oscuro */
    color: #ffffff; /* Letras blancas */
}

.navbar,
.dropdown-menu {
    background-color: #23272b; /* Color de fondo para la barra de navegación */
}

.card {
    background-color: #3e444a; /* Color de fondo para las tarjetas */
}

.form-control,
.form-control:focus {
    background-color: #23272b;
    color: #ffffff;
    border-color: #6c757d;
}

.btn-primary,
.btn-secondary {
    border-color: #6c757d;
}

.btn-primary {
    background-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
}
.btn-ajustes {
    background-color: #92c1f1;
    color: #333;
    border-color: #f8f9fa;
}
.btn-ajustes:hover {
    background-color: #eaeaea; /* Cambia este color al que prefieras */
    color: #333; /* Cambia este color al que prefieras */
    border-color: #eaeaea; /* Cambia este color al que prefieras */
}
.col-white {
    color: white;
    text-decoration: none;
}
.col-white a:hover {
    color: rgb(93, 211, 196);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
    display: inline-block;
}

/*Paginación*/
.pagination li a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.pagination li.active a {
    background-color: #333;
}

.pagination li.disabled a {
    background-color: #ccc;
    pointer-events: none;
}
